.right{
    margin-top: 10px;
    position: relative;
}
.head{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    color: blue;
    margin-left: 110px;
    width: 60%;
    margin-right: -100px;
    
}

.order{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 110px;
    top: 10px;
}
.order a{
    text-decoration: none;
}
.join{
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px;
    color:#666;
}
.join:hover{
    background-color: #e6ecf5;
}
.sign{
    border: 1px solid blue;
    border-radius: 30px;
    padding: 10px 20px;
    color: blue;
    font-weight: 700;
    cursor: pointer;
    margin: 5px;
}
.sign:hover{
    background-color:#dce6f5;
}
.first{
    margin: 50px 110px;
    position: relative;
    /* background-image: url('https://static-exp1.licdn.com/sc/h/d58zfe6h3ycgq5l1ccjpkrtdn'); */
}
.title p {
    width: 65%;
    color: #1b72f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    line-height: 100%;
}
.open{
    margin: 50px 0;
    width: 35%;
}
.input{
    margin-top: 20px;
    position: relative;
}
.email{
    padding: 15px 10px 5px;
    width: 100%;
    border: 1px solid #555;
}
.email:hover, .email:visited {
    border: 1px solid #1b72f5;
}
.lable_email{
    position: absolute;
    left: 10px;
    top: 0px;
}
.pass{
    padding: 15px 10px 5px;
    width: 100%;
    border: 1px solid #555;
}
.lable_pass{
    position: absolute;
    left: 10px;
    top: 0px;
}
.forgot{
    margin: 20px 0;
}
.forgot a{
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
.forgot a:hover{
    text-decoration:underline;
    color: #1b72f5;
}
.but .signbut{
    height: 80px;
    width: 100%;
    padding: 10px 160px;
    background-color: #1b72f5;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5rem;
}
.but .signbut:hover{
    background-color: #144da3;
}
.bor{
    margin:20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.rise{
    padding: 0 5px;

}
.rise::before ,.rise::after{
    background-color: #666;
    content: '';
    height: 1px;
    width: 50%;
    
}
.goo .google{
    height: 60px;
    width: 100%;
    padding: 10px ;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid black;
    text-align: center;
}
.goo .google:hover{
    background-color: #f7f7f7;
}
.goo .google span img{
    height: 10px;
    width: 10px;
}
.back img{    
    position: absolute;
    top: 0px;
    right: -100px;
    height: 700px;
    width: 700px;
}
.sec{
    min-height: 100vh;
    background-color: #f9f9f9;
}
.all{
    padding-top: 120px;
    height: auto;
    padding-bottom: 100px;
}
.find{
    max-width: 40%;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.lost{
    max-width: 60%;
    display: flex;
    flex-direction: column;
}
.lost h6{
    color: #777;
    margin-bottom: 10px;
}
.lost ul li{
    list-style: none;
}
.lost a{
    text-decoration: none;
    
}
.lost a:hover{
    text-decoration: underline;
}
/* .lost ul li{
    display: flex; 
    
} */
.lost ul {
    width: 100%; 
    margin-left: -35px;
}
.limitTextHeight{
    height: 288px;
    overflow: hidden;
}
.link{
    
    color: #555;
    background-color: #cfd8e6;
    margin: 5px;
    height: auto;
    width: auto;
    float: left;
    padding: 15px;
    border-radius: 40px;
    font-size: 1.3rem;
    /* display: flex;
    flex-direction: row;     */
}
.mag{
    width: 100px;
    text-align: center;
    border: none;
    padding: 5px;
}
.mid{
    display: flex;
    background-color: #e0c8c3;
}
.con{
    display: flex;
}
.red{
    width: 35%;
    font-size: 2.5rem;
    color: #b01e1e;
    /* padding: ; */
    margin: 70px 0;
}
.post{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
}
.post a{
    text-decoration: none;
    color: #444;
    font-size: 1.5rem;
    padding: 10px 14px;
    border-radius: 30px;
    border: 1px solid #222;
    font-weight: 400; 
    
}
/* .post .polink{
    
} */
.post a:hover{
    text-decoration: underline;
    background-color: gray;
}
.post{
    display: flex;
}
.next{
    height: 140vh;
    background-color: #f7f7f7;
    margin-bottom: 150px;
}
.pan{
    display: flex;
}

.pre,.aft{
    margin-top: 140px;
}
.bu{
    margin-bottom: 80px;
}
.pre .heat h1{
    font-weight: 400;
    color: #1b72f5;
    padding: 10px 0;
}
.pre .heat p{
    font-weight: 300;
    font-size: 2rem;
}
.flo{
    background-color: transparent;
    color: #e0c8c3;
    border: none;
    color: #555;
}
.pre{
    width: 50%;
}

.aft{
    width: 50%;
}
.pot_img .img_dip{
    height: 450px;
    width: 450px;
    border-radius: 300px;
    margin: 40px;
}
.hit{
    
    padding: 60px 90px;
}
.clase{
    margin: 0 40px;
}
.clase .gun,.gune{
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 400;

}
.clase .gun,.gune:hover{
    background-color: #f1f1f1;
}
.bi .bi-arrow-left-short ,.bi .bi-arrow-right-short{
    font-size: 1.5rem;
    padding: 20px;
}
.pop{
    margin: 50px 0;
}
.pop li{
    list-style: none;
}
.up{
    width: 50%;
}
.mega{
    display: flex;
}
.mega .up h1{
    font-weight: 400;
    color: #1b72f5;
    padding: 10px 0;
}
.mega .up p{
    font-weight: 300;
    font-size: 2rem;
}
.down{
    width: 50%;
}
.down .img_pip{
    height: 450px;
    width: 450px;
    border-radius: 300px;
    margin: 40px;
}
/* .pre{
    width: 60%;
}
.aft{
    width: 40%;
} */
.photo{
    height: 130vh;
}
.first_img img,.sec_img img{
    margin: 70px 0 50px 0;
    height: 300px;
    width: 300px;
}
.first_img h1,.sec_img h1{
    font-size: 3rem;
    font-weight: 300;
    padding-right: 50px;
    margin-bottom: 50px;
}
.first_img a{
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
}
.first_img a:hover{
    text-decoration: underline;
    background-color: #f9f9f9;
}
.btn .btn-secondary{
    padding: 15px 10px;
    font-size: 1.3rem;
    margin-top: -20px;
    color: #555;
    background: transparent;
}
.btn .btn-secondary:hover{
   background-color: #e6e0e0; 
}
.dropdown-menu{
    max-height:300px;
   overflow:scroll; 
}
.dropdown-item{
    border: none;
}
.vid{
    margin-left: 430px;
    height: 110vh;
    background-color: rgb(209, 230, 210);
    position: relative;
    right: 0;
    
}
.rote{
    /* margin-top: 100px; */
    text-align: center;
    padding: 240px 260px;
    font-weight: 300;
    
}
.rote h1{
    
    font-size: 2rem;
    color: #b01e1e;
}
.rote p{
    font-size: 2rem;
}
.rote iframe{
    height: 340px;
    width: 500px;
    position: absolute !important;
    left: -300px !important;
    top: 160px !important;
}
.last{
    height: 130vh;
    width: 100%;
    background-image: url('https://whoisjamiejones.com/images/png/projects/linkedin/linkedin_007.png');
}
.last .dim .lol{
    margin: 50px 0px !important;
}
.last .dim h1{
    font-weight: 300 !important;
    font-size: 3rem !important;
    padding: 80px 0px !important;
}
.last .dim a{
    color: #fff;
    background-color: #1b72f5;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
}
.last .dim a:hover{
    background-color: #144da3;
    text-decoration: underline;
}
.fin{
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 30px 0;
}
.fin .mel{
    color: #1b72f5;
}
.fin .row ul li{
    list-style-type: none; text-align: left;
}
.fin .row ul li a{
    text-decoration: none;
    color: #777;
    font-weight: 500;
}
.fin .row ul li a:hover{
    text-decoration: underline;
    color: #1b72f5;
}
/* .fin .row .bun{
    /* text-align: left; */
/* } */
/* .fin .row ul li a{
   
} */ 
.fin .row ul{
    text-align: left;
}
.bot{
    margin: 10px 0;
}
.bot ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* display: inline-flex; */
}
.bot ul li a{
    text-decoration: none;
    
}
.bot ul li{
    list-style: none;
}
.bot .han{
    color: #777;
    font-size: 12px;
    font-weight: 500;
}
.bot a:hover{
    color: #1b72f5;
    text-decoration: #1b72f5;
}
.bot .ban{
    color: #777;
    font-size: 12px;
}
.listd{
    height: 200px;
    max-width: 60px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.dbut{
    color: #777;
    font-size: 12px;
    background: transparent;
    border: none;
}
.listd .dropdown-menu a{
    color: #1b72f5;
}
/* .down .dropdown-item{
    color: #1b72f5;
    height: auto;
} */
/* .small{
    overflow: hidden;
    height: 30px;
    width: 100%;
    margin-bottom: -100px;
} */
.alt{
    /* overflow-x: hidden;
    overflow: scroll; */
    display: flex;
    flex-direction: column;
    height: 200px;
    min-width: 90px;
    cursor: pointer;
}
.contain{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px 75px;
}
.fresh .btn .btn-secondary .dropdown-toggle{
    background: transparent;
    border: none;
}
.fresh .btn .btn-secondary .dropdown-toggle:hover{
    color: #1b72f5;
}
.lay .dropdown{
    border: none;
    background: transparent;
}
.dow .dropdown-item{
    color: #1b72f5;
    padding: auto !important;
    margin: auto !important;
}
