<nav class="right">
  <div class="head">
    <h2>Linked<i class="fa fa-linkedin-square"></i></h2>
  </div>
    <ul class="order">
      <li><a class="join">Join now</a></li>
      <li><a class="sign">Sign in</a></li>
    </ul>
  </nav>
  <main class="first">
    <div class="title">
      <p>Welcome to your professional community</p>
    </div>
    <div class="open">
      <div class="input">
        <input type="email" class="email" placeholder=" ">
        <label class="lable_email">Email or phone number</label>
      </div>
      <div class="input">
        <input type="password" class="pass" placeholder=" ">
        <label class="lable_pass">password</label>
      </div>
      <div class="forgot">
        <a >Forgot password?</a>
      </div>
      <div class="but">
        <a class="signbut">sign in</a>
      </div>
      <div class="bor">
        <span class="rise">or</span>
      </div>
      <div class="goo">
        <button class="google"><span><img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsymbols.getvecta.com%2Fstencil_82%2F45_google-icon.d8d982f8a1.svg&imgrefurl=https%3A%2F%2Fvecta.io%2Fsymbols%2F82%2Fbrands-go-gz%2F45%2Fgoogle-icon&tbnid=n_4cj2ANFiP0XM&vet=12ahUKEwih5rz7gd7yAhWkoksFHRWsAQIQMygAegUIARDHAQ..i&docid=PXFhnNX1k-cb_M&w=788&h=800&q=google%20icon&ved=2ahUKEwih5rz7gd7yAhWkoksFHRWsAQIQMygAegUIARDHAQ" alt=""></span>
          Sign in with google</button>
      </div>
    </div>
    <div class="back">
      <img src="https://static-exp1.licdn.com/sc/h/d58zfe6h3ycgq5l1ccjpkrtdn">
    </div>
  </main>
  <section class="sec">
    <div class="container">
    <div class="all row">
      <div class=" find">
        <p>Find the right job or internship for you</p>
      </div>
      <div class=" lost">
        <h6>SUGGESTED SEARCHES</h6>
        <div [ngClass]="{'limitTextHeight': isReadMore}">
        <ul>
          <li><a href="#" class="link">Engineering</a></li>
          <li><a href="#" class="link">Business Development</a></li>
          <li><a href="#" class="link">Finance</a></li>
          <li><a href="#" class="link">Administrative Assistant</a></li>
          <li><a href="#" class="link">Retail Associate</a></li>
          <li><a href="#" class="link">Customer Service</a></li>
          <li><a href="#" class="link">Operation</a></li>
          <li><a href="#" class="link">Information technology</a></li>
          <li><a href="#" class="link">Marketing</a></li>
          <li><a href="#" class="link">Human Resources</a></li>
          <li><a href="#" class="link">Healthcare</a></li>
          <li><a href="#" class="link">Sales</a></li>
          <li><a href="#" class="link">Program and Project management</a></li>
          <li><a href="#" class="link">Accounting</a></li>
          <li><a href="#" class="link">Art and design</a></li>
          <li><a href="#" class="link">Community and social service</a></li>
          <li><a href="#" class="link">consulting</a></li>
          <li><a href="#" class="link">Education</a></li>
          <li><a href="#" class="link">Entrepreneurship</a></li>
          <li><a href="#" class="link">Legal</a></li>
          <li><a href="#" class="link">Media and Communications</a></li>
          <li><a href="#" class="link">Military and Product Service</a></li>
          <li><a href="#" class="link">Product management</a></li>
          <li><a href="#" class="link">Purchasing</a></li>
          <li><a href="#" class="link">Quality Assurance</a></li>
          <li><a href="#" class="link">Real Estate</a></li>
          <li><a href="#" class="link">Research</a></li>
          <li><a href="#" class="link">Support</a></li>
          <li><a href="#" class="link">Administrative</a></li>
        </ul>
      </div>
      <button type="button" class="mag" (click)="showText()">{{ isReadMore ? 'show More': 'show Less' }}</button>
      </div>
    </div>
    </div>
  </section>
  <section class="mid ">
    <div class="con container">
    <div class="red">
      <p>Post your job for millions of people to see</p>
    </div>
    <div class="post">
      <a class="polink" href="#">Post a job</a>
    </div>
  </div>
  </section>
  <section class="next">
    <!-- <div class="pan container">
      <div class="pre">
        <div class=bu>
          <button class="flo" type="button">Pervious</button>
          <button class="flo" type="button">Next</button>
        </div>
        <div class="heat">
          <h1>Let the right people know you’re open to work</h1>
          <p>With the Open To Work feature, you can privately tell recruiters or publicly share with the LinkedIn community that you are looking for new job opportunities</p>
        </div>
      </div>
      <div class="aft">
        <div class="pot_img">
          <img class="img_dip" src="https://static-exp1.licdn.com/sc/h/dbvmk0tsk0o0hd59fi64z3own">
        </div>
      </div>
    </div> -->
    <div class="hit">
    <header class="clase">
      <button class="gun" (click)="previous()" [disabled]="process1"><i class="bi bi-arrow-left-short"></i>Pervious</button>
      <button class="gune" (click)="next()" [disabled]="process3">Next<i class="bi bi-arrow-right-short"></i></button>
    </header>
    
    <ul class="pop">
      <li *ngIf="process1">
        <div class="mega">
          <div class="up">
            <h1>Let the right people know you’re open to work</h1>
            <p>With the Open To Work feature, you can privately tell recruiters or publicly share with the LinkedIn community that you are looking for new job opportunities</p>
          </div>
          <div class="down"><img class="img_pip" src="https://static-exp1.licdn.com/sc/h/dbvmk0tsk0o0hd59fi64z3own"></div>
        </div>
      </li>
      <li *ngIf="process2">
        <div class="mega">
          <div class="up">
            <h1>Conversations today could lead to opportunity tomorrow</h1>
            <p>privately tell recruiters or publicly share with the LinkedIn community that you are looking for new job opportunities
              Conversations today could lead to opportunity tomorrow
              Sending messages to people you know is a great way to strengthen relationships as you take the next step in your career</p>
          </div>
          <div class="down"><img class="img_pip" src="https://static-exp1.licdn.com/sc/h/2r8kd5zqpi905lkzsshdlvvn5"></div>
        </div>
      </li>
      <li *ngIf="process3">
        <div class="mega">
          <div class="up">
            <h1>Stay up to date on your industry</h1>
            <p>From Live videos, to stories, to newsletters and more, LinkedIn is full of ways to stay up to date on the latest discussions in your industry</p>
          </div>
          <div class="down"><img class="img_pip" src="https://static-exp1.licdn.com/sc/h/ann24vsq7r0ux3vipqa1n90gg"></div>
        </div>
      </li>
    </ul>
    </div>
  </section>
  <section class="photo container">
    <div class="call row ">
      <div class="first_img col-lg-6">
        <img src="https://static-exp1.licdn.com/sc/h/b1fxwht7hdbeusleja7ciftsj">
        <h1>Connect with people who can help</h1>
        <a href="#">Find people you know</a>
      </div>
      <div class="sec_img col-lg-6">
        <img src="https://static-exp1.licdn.com/sc/h/dkfub4sc7jgzg3o31flfr91rv">
        <h1>Learn the skills you need to succeed</h1>
        <div class="btn group">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Choose a topic to learn about
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Training and Education<br><p>300+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">IT Help Test<br><p>180+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">business Analysis and strategy<br><p>780+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">Finance and Accounting<br><p>240+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">career Development<br><p>350+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">Leadership and Management<br><p>1300+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">Mobile Development<br><p>180+ course</p></a>
                </li>
              <li><a class="dropdown-item" href="#">Marketing<br><p>220+ course</p></a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vid">
    <div class="rote">
      <h1>In it to chase my dream</h1>
      <p>Check out Gayatri's story of finding a new job on LinkedIn</p>
      <div>
        <iframe src="https://www.youtube-nocookie.com/embed/IlYUUN8rL_Y?rel=0"></iframe>
      </div>
    </div>
  </section>
  <section class="last">
    <div class="dim container">
      <div class="lol">
      <h1>Join your colleagues, classmates, and friends on LinkedIn.</h1>
      <a href="#" class="bone">Get started</a>
      </div>
    </div>
  </section>
  <footer class="fin">
    <div class="container">
    <div class="row">
      <div class="mel col-md-3">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" focusable="false" class="lazy-loaded"><g class="scaling-icon"><g class="logo-21dp"><g class="dpi-1"><g class="inbug" fill="none" fill-rule="evenodd"><path d="M82.479 0H64.583C63.727 0 63 .677 63 1.511v17.977c0 .835.477 1.512 1.333 1.512h17.896c.857 0 1.771-.677 1.771-1.512V1.511C84 .677 83.336 0 82.479 0" class="bug-text-color" fill="#FFF"></path><path d="M82.479 0H64.583C63.727 0 63 .677 63 1.511v17.977c0 .835.477 1.512 1.333 1.512h17.896c.857 0 1.771-.677 1.771-1.512V1.511C84 .677 83.336 0 82.479 0zM71 8h2.827v1.441h.031c.431-.777 1.704-1.566 3.278-1.566C80.157 7.875 81 9.479 81 12.45V18h-3v-5.003c0-1.33-.531-2.497-1.773-2.497-1.508 0-2.227 1.021-2.227 2.697V18h-3V8zm-5 10h3V8h-3v10zm3.375-13.5a1.874 1.874 0 11-3.749.001 1.874 1.874 0 013.749-.001z" class="background" fill="currentColor"></path></g><g class="linkedin-text" fill="currentColor"><path d="M60 18h-2.8v-1.191h-.03c-.623.722-1.705 1.316-3.539 1.316-2.5 0-4.653-1.881-4.653-5.114 0-3.08 2.122-5.136 4.747-5.136 1.625 0 2.634.578 3.245 1.316H57V3h3v15zm-5.521-7.875c-1.715 0-2.679 1.223-2.679 2.849 0 1.627.964 2.901 2.679 2.901 1.717 0 2.721-1.241 2.721-2.901 0-1.706-1.004-2.849-2.721-2.849zm-6.818 6.264c-.708.917-2.166 1.736-4.52 1.736-3.14 0-5.14-2.08-5.14-5.347 0-2.903 1.811-4.903 5.228-4.903C46.18 7.875 48 9.813 48 13.222c0 .34-.055.678-.055.678h-7.114l.017.309c.197.862.848 1.916 2.342 1.916 1.304 0 2.198-.701 2.602-1.25l1.87 1.514zm-2.548-4.39c.02-1.054-.754-2.124-1.974-2.124-1.452 0-2.227 1.134-2.308 2.125h4.282z"></path><path d="M38 8h-3.5L31 12V3h-3v15h3v-5l3.699 5h3.542L34 12.533zM16 8h2.827v1.441h.031c.431-.777 1.704-1.566 3.278-1.566C25.157 7.875 26 9.792 26 12.45V18h-3v-5.003c0-1.472-.531-2.497-1.773-2.497-1.508 0-2.227 1.194-2.227 2.697V18h-3V8zm-5 10h3V8h-3v10zm1.501-11.7a1.8 1.8 0 100-3.599 1.8 1.8 0 000 3.599zM3 3H0v15h9v-3H3z"></path></g></g></g></g></svg>
      </div>
      <div class="col-md-2">
        <h6>General</h6>
        <ul>
          <li><a class="bun" href="#">Sign Up</a></li>
          <li><a class="bun" href="#">Help Center</a></li>
          <li><a class="bun" href="#">About</a></li>
          <li><a class="bun" href="#">Press</a></li>
          <li><a class="bun" href="#">Blog</a></li>
          <li><a class="bun" href="#">Careers</a></li>
          <li><a class="bun" href="#">Developers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Browse LinkedIn</h6>
        <ul>
          <li><a class="bun" href="#">Learning</a></li>
          <li><a class="bun" href="#">Jobs</a></li>
          <li><a class="bun" href="#">salary</a></li>
          <li><a class="bun" href="#">Mobile</a></li>
          <li><a class="bun" href="#">Service</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Business Solutions</h6>
        <ul>
          <li><a class="bun" href="#">Talent</a></li>
          <li><a class="bun" href="#">Marketing</a></li>
          <li><a class="bun" href="#">Sales</a></li>
          <li><a class="bun" href="#">Learning</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Directories</h6>
        <ul>
          <li><a class="bun" href="#">Members</a></li>
          <li><a class="bun" href="#">Jobs</a></li>
          <li><a class="bun" href="#">Companies</a></li>
          <li><a class="bun" href="#">Salaries</a></li>
          <li><a class="bun" href="#">Featured</a></li>
          <li><a class="bun" href="#">Learning</a></li>
          <li><a class="bun" href="#">Posts</a></li>
          <li><a class="bun" href="#">Articles</a></li>
          <li><a class="bun" href="#">Schools</a></li>
          <li><a class="bun" href="#">News</a></li>
          <li><a class="bun" href="#">News Letters</a></li>
          <li><a class="bun" href="#">Services</a></li>
          <li><a class="bun" href="#">Interview Prep</a></li>
          <li><a class="bun" href="#">Products</a></li>
        </ul>
      </div>
    </div>
    </div>
  </footer>
  <div class="bot">
    <div class="contain">
    <ul>
      <li><span >  <svg width="90px" height="20px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" focusable="false" class="lazy-loaded"><g class="scaling-icon"><g class="logo-21dp"><g class="dpi-1"><g class="inbug" fill="none" fill-rule="evenodd"><path d="M82.479 0H64.583C63.727 0 63 .677 63 1.511v17.977c0 .835.477 1.512 1.333 1.512h17.896c.857 0 1.771-.677 1.771-1.512V1.511C84 .677 83.336 0 82.479 0" class="bug-text-color" fill="#FFF"></path><path d="M82.479 0H64.583C63.727 0 63 .677 63 1.511v17.977c0 .835.477 1.512 1.333 1.512h17.896c.857 0 1.771-.677 1.771-1.512V1.511C84 .677 83.336 0 82.479 0zM71 8h2.827v1.441h.031c.431-.777 1.704-1.566 3.278-1.566C80.157 7.875 81 9.479 81 12.45V18h-3v-5.003c0-1.33-.531-2.497-1.773-2.497-1.508 0-2.227 1.021-2.227 2.697V18h-3V8zm-5 10h3V8h-3v10zm3.375-13.5a1.874 1.874 0 11-3.749.001 1.874 1.874 0 013.749-.001z" class="background" fill="currentColor"></path></g><g class="linkedin-text" fill="currentColor"><path d="M60 18h-2.8v-1.191h-.03c-.623.722-1.705 1.316-3.539 1.316-2.5 0-4.653-1.881-4.653-5.114 0-3.08 2.122-5.136 4.747-5.136 1.625 0 2.634.578 3.245 1.316H57V3h3v15zm-5.521-7.875c-1.715 0-2.679 1.223-2.679 2.849 0 1.627.964 2.901 2.679 2.901 1.717 0 2.721-1.241 2.721-2.901 0-1.706-1.004-2.849-2.721-2.849zm-6.818 6.264c-.708.917-2.166 1.736-4.52 1.736-3.14 0-5.14-2.08-5.14-5.347 0-2.903 1.811-4.903 5.228-4.903C46.18 7.875 48 9.813 48 13.222c0 .34-.055.678-.055.678h-7.114l.017.309c.197.862.848 1.916 2.342 1.916 1.304 0 2.198-.701 2.602-1.25l1.87 1.514zm-2.548-4.39c.02-1.054-.754-2.124-1.974-2.124-1.452 0-2.227 1.134-2.308 2.125h4.282z"></path><path d="M38 8h-3.5L31 12V3h-3v15h3v-5l3.699 5h3.542L34 12.533zM16 8h2.827v1.441h.031c.431-.777 1.704-1.566 3.278-1.566C25.157 7.875 26 9.792 26 12.45V18h-3v-5.003c0-1.472-.531-2.497-1.773-2.497-1.508 0-2.227 1.194-2.227 2.697V18h-3V8zm-5 10h3V8h-3v10zm1.501-11.7a1.8 1.8 0 100-3.599 1.8 1.8 0 000 3.599zM3 3H0v15h9v-3H3z"></path></g></g></g></g></svg></span>
        </li>
      <li><a class="ban" href="">© 2021</a></li>
      <li><a class="han" href="#">About</a></li>
      <li><a class="han" href="#">Accessibility</a></li>
      <li><a class="han" href="#">User Agreement</a></li>
      <li><a class="han" href="#">Privacy Policy</a></li>
      <li><a class="han" href="#">Cookie Policy</a></li>
      <li><a class="han" href="#">Copyright Policy</a></li>
      <li><a class="han" href="#">Brand Policy</a></li>
      <li><a class="han" href="#">Guest Controls</a></li>
      <li><a class="han" href="#">Community Guidelines</a></li>
      <!-- <li>
        <div class="dropdown">
          <button class="dbut btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </button>
          <ul class="listd dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="down dropdown-item" href="#">English<br>(English)</a></li>
            <li><a class="down dropdown-item" href="#">Arabic<br>(Arabic)</a></li>
            <li><a class="down dropdown-item" href="#">spanish<br>(spanish)</a></li>
            <li><a class="down dropdown-item" href="#">German<br>(German)</a></li>
            <li><a class="down dropdown-item" href="#">franch<br>(franch)</a></li>
          </ul>
        </div>
      </li> -->
      <li>
        <div class="lay dropdown" >
          <button class="fresh btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </button>
        
          <ul class="alt dropdown-menu"  aria-labelledby="dropdownMenuLink">
            <li><a class="dow dropdown-item" href="#">English<br>(English)</a></li>
            <li><a class="dow dropdown-item" href="#">Arabic<br>(Arabic)</a></li>
            <li><a class="dow dropdown-item" href="#">spanish<br>(spanish)</a></li>
            <li><a class="dow dropdown-item" href="#">German<br>(German)</a></li>
            <li><a class="dow dropdown-item" href="#">franch<br>(franch)</a></li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
  </div> 